@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&display=swap");

:root {
  --colour-primary: #528124;
  --colour-light-green: #92ae5a;
  --colour-off-white: #f5f5f5;
}

html,
body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin: 0;
  background-color: var(--colour-primary);
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: rgb(82, 129, 36);
  background: linear-gradient(
    90deg,
    rgba(82, 129, 36, 1) 43%,
    rgba(255, 255, 255, 1) 65%
  );
}

.amouze-image {
  max-width: 100%;
  height: auto;
}

.navbar li {
  /* display: flex;
    justify-content: space-between; */
  /* float: right; */
  /* list-style: none; */
  margin: 0 100px;
  font-weight: bold;
}

.navbar ul {
  overflow: auto;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

/* IMAGE BANNER */

.image-banner {
  object-fit: cover;
  width: 100%;
  height: 20vh;
}

.image-banner img {
  /* object-fit: cover; */
  width: 100%;
  height: 20vh;
  margin: 0 auto;
}

.box-text-top-left {
  position: absolute;
  top: 120px;
  left: 25px;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

/* CARDS */

.title-text {
  color: var(--colour-off-white);
  font-weight: bold;
  margin: 25px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 75px;
}

.card-whole {
  border: 1px solid var(--colour-light-green);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 500px;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  border-radius: 10px;
}

.card-whole h2 {
  padding: 2px;
  margin: 8px 0;
}

.card-whole:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-whole .container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  padding: 2px 14px;
  text-align: center;
  color: var(--colour-off-white);
}

@media (min-width: 765px) {
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* CONTACT FORM */

.contact-us-text {
  color: var(--colour-off-white);
}

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 750px;
  float: left;
  left: 30%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  border-radius: 10px;
  /* -moz-border-radius: 7px;
  -webkit-border-radius: 7px; */
}

.feedback-input {
  color: #3c3c3c;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: var(--colour-off-white);
  box-shadow: 0;
  border: 3px solid var(--colour-primary);
  color: var(--colour-primary);
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: var(--colour-primary);
  border: var(--colour-primary) solid 3px;
}

/* Icons ---------------------------------- */
/* #name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
} */

/* #name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
} */

/* #email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
} */

/* #email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
} */

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: var(--colour-off-white);
}

#button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--colour-light-green);
  color: var(--colour-off-white);
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  border-radius: 10px;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--colour-primary);
}

.submit:hover {
  color: var(--colour-primary);
}

.ease {
  width: 0px;
  height: 74px;
  background-color: var(--colour-off-white);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--colour-primary);
  color: var(--colour-off-white);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--colour-light-green);
}

.contact-text {
  font-weight: bold;
}

.contact-form {
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--colour-off-white);
  padding: 20px;
} */
